.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 200px;
    gap: 25px;
    place-content: center;
    /*width: 420px;*/
    /*height: 420px;*/
    background-color: blueviolet;
    /*place-items: flex-end;*/
}

.item {
    background-color: blue;
    justify-self: end;
}
.item-hijo {
    background-color: #00bcd4;
    width: 60px;
    height: 60px;
    border: red solid 5px;
}


